%html
	%head
		%title MSO Technik
		= stylesheet_link_tag :application
		= javascript_include_tag :application
		= csrf_meta_tag
	%body
		#main
			#header	
				#header_small
					#logo
						MSO TECHNIK
					#slogan
						Die ständige Vertretung der Technik AG
			#banner
				#banner_small
					#banner_pic
						%img{:src => "/assets/header.jpg"}/
					#nav
						%ul
							%li 
								=link_to "Events", events_path
							%li 
								=link_to "Inventar", items_path
							%li 
								=link_to "Ausleihen", rents_path
					#nav2						
			#content
				#content_small